*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

body{
    height: 1200px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.dashboard-container{
    background-color: rgb(18, 100, 207);
    display: grid;
    grid-template-rows: 60% 1fr;
    grid-template-columns: 1fr 3fr;
    
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    grid-column: 2/3;
    font-size: 1.5rem;
}
.dashboard-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.top-icons{
    /* border: 1px solid red; */
    width: 4rem;
    position: relative;
    right: 20px;
    margin-top: 10px;

}

.dashboard-item{
    color: rgb(246, 250, 253);
}



.main{
    display: grid;
    grid-template-rows: 20% 1fr;
}

.header{
    background-color: white;
    display: grid;
    grid-template-rows: 30% 1fr;
    box-shadow: 0 0.1px 5px;
}


.header-top{
    display: grid;
    grid-template-columns: 60% 40%;
}

.header-top.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-icon{
    width: 5%;
}

#search{
    width: 25rem;
    height: 30px;
    border-radius: 30px;
    background-color: lightgrey;
    border: 1px solid lightgray;
}

.header-top.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notif-icon{
    width: 2rem;
}

.header-top.right > img.pfp-icon{
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    margin-top: 10px
}

div.header-bottom.left > img{
    border-radius: 50px;
    width: 5rem;
    height: 5rem;
    margin-top: 10px;
}


.username{
    font-weight: 900;
}


.header-bottom{
    display: grid;
    grid-template-columns: 60% 40%;
}

.header-bottom.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.pfp-text{
    margin-left: 15px;
    font-weight: 900;
}



.header-bottom.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bottom.right > *{
    background-color: rgb(121, 121, 230);
    color: white;
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.header-bottom.right > *:active{
    background-color: rgb(73, 73, 139);
}

.article{
    margin: 10px;
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: 70% 30%;
    font-weight: 900;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.your-projects{
    /* border: 1px solid red; */
    font-weight: 900;
    position: relative;
    top: 30px;
    width: 10rem;
    text-align: center;
}


.project-box{
    margin: 50px 10px 10px 10px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 5px 1fr;
}

.project-box-content{
    display: grid;
    grid-template-rows: 12rem 1fr;
}

.project-content-text{
    background-color: aqua;
}

.project-content-icons{
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
}

