*{
    box-sizing: border-box;
}

body{
    height: 1200px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.dashboard-container{
    background-color: rgb(18, 100, 207);
    display: grid;
    grid-template-rows: 60% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    grid-column: 2/3;
    font-size: 1.5rem;
}
.dashboard-item{
    color: rgb(246, 250, 253);
}

.dashboard-icon{
    width: 50%;
    position: relative;
    right: 80px;
    bottom: 45px;
}

.home-icon,
.profile-icon{
    width: 25%;
    position: relative;
    right: 125px;
    top: 8px;
}


.main{
    display: grid;
    grid-template-rows: 20% 1fr;
}

.header{
    background-color: white;
}




